{% extends 'core/base.html' %}
{% load bootstrap3 %}
{% load tz %}

{% block title %}
	{% bootstrap_icon 'list-alt' %} Triagem
{% endblock %}

{% block content %}
	<div class="panel panel-default">
	  <div class="panel-body">
	    <a href="{% url 'triagem_create' %}" class="btn btn-md btn-primary">{% bootstrap_icon 'floppy-disk' %} Cadastrar Triagem</a>
	  </div>
	</div>
	<table class="table table-hover">
  		<thead>
			<th>Nome do Paciênte</th>
			<th>Data</th>
			<th>Hora</th>
			<th>Local de Atendimento</th>
			<th>Idade</th>
			<th>Altura</th>
			<th>Peso</th>
			<th>IMC</th>
			<th>Resultado</th>
			<th>Perguntas</th>
			<th>Risco</th>
			
  		</thead>
  		<tbody>
			{% for triagem in object_list %}
					<tr>
						<td>{{ triagem.nome_paciente }} </td>
						<td>{{ triagem.data|date:'d/m/Y' }}</td>
						<td>{{ triagem.hora }}</td>
						<td>{{ triagem.local.nome }} / {{  triagem.local.cidade }}</td>
						<td>{{ triagem.idade }}</td>
						<td>{{ triagem.altura }}</td>
						<td>{{ triagem.peso }}</td>
						<td>{{ triagem.imc|floatformat:2 }}</td>
						<td>{{ triagem.pontos }}</td> 
						<td class="text-left"> 
							<span  data-toggle="tooltip"  title='Visualizar Perguntas'>
								{% bootstrap_button content='' href=triagem.get_visualiza_url button_type='link' icon='eye-open' button_class='btn btn-primary' size='sm' %}
							</span>
						</td>
						<td>
							{% if triagem.pontos == 0 %}
								<div style="background-color:rgb(163, 158, 158)" style="text-align:center" ><p style="text-align:center;"><b>Sem Risco</b></p></div>
							{% elif triagem.pontos > 1 and triagem.pontos < 9 %}
								<div style="background-color:#3ba53b" style="text-align:center" ><p style="text-align:center;"><b>Baixo</b></p></div>
							{% elif triagem.pontos > 9 and triagem.pontos < 19 %}
								<div style="background-color:#ff8800" ><p style="text-align: center;"><b>Médio</b></p></div>
							{% elif triagem.pontos > 20 %}
								<div style="background-color:#ff0000"><p style="text-align: center"><b>Alto</b></p></div>
							{% endif %}
						</td>
						
						{% if user.is_staff%}
						<td class="text-center">
							<span  data-toggle="tooltip"  title='Editar'>
							{% bootstrap_button content='' href=triagem.get_absolute_url button_type='link' icon='edit' button_class='btn btn-primary' size='sm' %}
							</span>
						</td>
						<td class="text-center">
							<span  data-toggle="tooltip"  title='Excluir'>
							{% bootstrap_button content='' href=triagem.get_delete_url button_type='link' icon='trash' button_class='btn btn-danger' size='sm' %}
							</span>
						</td>
						{% endif %}
					</tr>
			{% endfor %}
  		</tbody>
	</table>
{% endblock %}